# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv

setuptools
pytest
numpy
PyYAML
pandas
intake
yaml
xarray
tqdm
cmip6_preprocessing
cdo
fire
geopandas
regionmask
pyfiglet
src
scikit-learn
matplotlib
cartopy
cmocean
dask
statsmodels
seaborn
scipy
frozendict